
button_intopage{
    background:rgb(0, 38, 255);
    color:white;
    width:200px;
    
}

img {
    width: 150px;
    height: auto;
}

language{
background-color: blue;
forced-color-adjust: auto;

}