<header class="header">
  <div class="brand">
    <a routerLink="/">
      <img
        src="/logo_Atwi.png"
        alt="ATWI Audit & Accounting Logo"
        class="header-logo"
      >
    </a>
  </div>

  <nav class="navbar">
    <a
      routerLink="/"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      {{ 'NAV.HOME' | translate }}
    </a>

    <a routerLink="/about" routerLinkActive="active">
      {{ 'NAV.ABOUT' | translate }}
    </a>

    <a routerLink="/services" routerLinkActive="active">
      {{ 'NAV.SERVICES' | translate }}
    </a>

    <a routerLink="/locations" routerLinkActive="active">
      {{ 'NAV.LOCATIONS' | translate }}
    </a>

    <a routerLink="/official-forms" routerLinkActive="active">
  {{ 'NAV.OFFICIAL_FORMS' | translate }}
</a>

    <a routerLink="/careers" routerLinkActive="active">
      {{ 'NAV.CAREERS' | translate }}
    </a>

  
  </nav>

  <button
    type="button"
    class="language-button"
    (click)="language.toggleLanguage()"
  >
    <span>🌐</span>

    {{ language.currentLanguage === 'en' ? 'EN' : 'AR' }}

    <span class="language-arrow"></span>
  </button>
</header>