<footer class="footer">
  <div class="footer-content">

    <section class="footer-brand">
      <img
        src="/logo_Atwi.png"
        alt="ATWI Audit & Accounting"
        class="footer-logo"
      >

      <p>
        {{ 'FOOTER.BRAND.DESCRIPTION' | translate }}
      </p>
    </section>

    <section class="footer-section">

      <h3>
        {{ 'FOOTER.QUICK_LINKS.TITLE' | translate }}
      </h3>

      <nav class="footer-links">
        <a routerLink="/">
          {{ 'NAV.HOME' | translate }}
        </a>

        <a routerLink="/about">
          {{ 'NAV.ABOUT' | translate }}
        </a>

        <a routerLink="/services">
          {{ 'NAV.SERVICES' | translate }}
        </a>

        <a routerLink="/locations">
          {{ 'NAV.LOCATIONS' | translate }}
        </a>

        <a routerLink="/official-forms">
          {{ 'NAV.OFFICIAL_FORMS' | translate }}
        </a>

        <a routerLink="/careers">
          {{ 'NAV.CAREERS' | translate }}
        </a>
      </nav>

    </section>

    <section class="footer-section">

      <h3>
        {{ 'FOOTER.CONTACT.TITLE' | translate }}
      </h3>

      <div class="contact-list">

  <p>
          <strong>
            {{ 'FOOTER.CONTACT.PHONE' | translate }}:
          </strong>

          <a href="tel:+96100000000"  dir="ltr">
            +961 03 423 059
          </a>
        </p>

        <p>
          <strong>
            {{ 'FOOTER.CONTACT.EMAIL' | translate }}:
          </strong>

          <a href="mailto:info@atwi.com">
            infoaudit.atwi@gmail.com
          </a>
        </p>

        <p>
          <strong>
            {{ 'FOOTER.CONTACT.LOCATION' | translate }}:
          </strong>

          {{ 'FOOTER.CONTACT.COUNTRY' | translate }}
        </p>

      </div>

    </section>

    <section class="footer-section">

      <h3>
        {{ 'FOOTER.HOURS.TITLE' | translate }}
      </h3>

      <div class="office-hours">

        <p>
          {{ 'FOOTER.HOURS.WEEKDAYS' | translate }}
        </p>

        <p>
          {{ 'FOOTER.HOURS.TIME' | translate }}
        </p>


      </div>

    </section>

  </div>

  <div class="footer-bottom">

    <p>
      {{ 'FOOTER.BOTTOM.COPYRIGHT' | translate }}
    </p>

    <div class="footer-bottom-links">

      <a href="#">
        {{ 'FOOTER.BOTTOM.PRIVACY' | translate }}
      </a>

      <a href="#">
        {{ 'FOOTER.BOTTOM.TERMS' | translate }}
      </a>

    </div>

  </div>
</footer>